.pokemon__image {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.pokemon__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.pokemon__info h3 {
  font-size: 1.3rem;
  margin: 5px 0;
  font-weight: 400;
}

.pokemon__info__stats {
  width: 100%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 20px;
  font-size: 1.2rem;
}

.pokemon__info__stats table {
  width: 100%;
  border: 1px solid lightgrey;
}

.pokemon__info__stats table th {
  background: var(--gray-color);
}

.pokemon__info__stats table td,
.pokemon__info__stats table th {
  padding: 5px;
  text-transform: capitalize;
}

.pokemon__info__types,
.pokemon__info__abilities {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
}

.pokemon__info__types *,
.pokemon__info__abilities * {
  width: 100%;
}

.pokemon__info__types *:not(h3):nth-child(odd),
.pokemon__info__abilities *:not(h3):nth-child(odd) {
  background: rgb(245, 245, 245);
}

.pokemon__info__types__type,
.pokemon__info__abilities__ability {
  padding: 5px;
  text-transform: capitalize;
  box-sizing: border-box;
}
