@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root {
  --primary-color: #80d6cb;
  --primary-hovered-color: #75c5ba;
  --primary-active-color: #66b1a7;
  --font-color: #717171;
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --error-color: #fd7171;
  --gray-color: rgb(231, 231, 231);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

* {
  outline: none;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  max-width: 600px;
  height: calc(100vh - 150px);
  background: white;
  border-radius: 21px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  color: var(--font-color);
  position: relative;
}

.link {
  color: var(--primary-color);
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  color: var(--primary-hovered-color);
}
